.backoffice__{
    &aside{
        display: flex;
        height: 100vh;
        width: 55%;
        padding: 1%;
        position: fixed;
        z-index: 20;
        transition: all .9s;
        &-logo{
            max-height: 100px;
        }
    }
    &nav{
        align-items: center;
        background-color: $bg-secondary-color;
        border: 1px solid rgba(0, 0, 0, 0.336);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
    }
    &item{
        align-items: center;
        color: black;
        display: flex;
        height: 100%;
        font-size: small;
        justify-content: center;
        text-decoration: none;
        width: 100%;
        &:hover{
            color: $accent-color;
            background-color: $bg-primary-color;
        }
    }
}
