@media (min-width: $breakpoint-mobile){
    
}

@media (min-width: $breakpoint-tablet){    
    .campaign__{
        &countdown-text{
            display: block;
        }
        &description{
            width: 80%;        
        }

    }
}

@media (min-width: 1024px){
    .campaign__{
        &img{
            display: block;
            max-width: 150px;
        }
    }
}

@media (min-width: 1280px){
    .campaign__{
        &container{
            background-color: rgba(255, 235, 205, 0.384);
        }
        &description{
            font-size: x-large;
        }
        &img{
            max-width: 250px;
        }
    }
}

@media (min-width: 1920px){
    .campaign__{
        &description{
            font-size: xx-large;
        }
    }
}
