<<<<<<< HEAD
@media (min-width: $breakpoint-tablet){
    .campaign__{
        &countdown-text{
            display: block;
        }
        &description{
            width: 80%;
=======
@media (max-width: $breakpoint-mobile){
    .HS-campaign__content-{
        &img{
            display: none;
        }
        &countdown{
            display: none;
        }
    }
}

@media (max-width: $breakpoint-tablet){
    .HS-campaign__content-countdown-main{
        width: 100%;
    }
    .HS-campaign__header-{
        &container{
            justify-content: center;
        }
        &img{
            display: none;
        }

    }
    .HS-campaign__footer-{
        &container{
            justify-content: center;
>>>>>>> c8c1abaaf0a0f594c492c0f6fa7640cfb782ffc7
        }
        &img{
            display: block;
            max-width: 150px;
        }
    }
}

@media (min-width: 1280px){
    .campaign__{
        &container{
            background-color: rgba(255, 235, 205, 0.384);
        }
        &description{
            font-size: x-large;
        }
        &img{
            max-width: 250px;
        }
    }
}
