.HS-campaign__{
    &content-{
        width: 100%;
        display: flex;
        background-color: rgba(255, 235, 205, 0.384);
        align-items: center;
        justify-content: center;
        &box{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            min-height: 70vh;
            width: 90%;
        }
        &countdown-text{
            align-self: center;
        }
        &countdown{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 85%;
        }
        &countdown-container{
            width: 70%;
            display: flex;
            flex-direction: column;
        }
        &description{
            font-size: 35px;
            margin-top: 5%;
            margin-bottom: 5;
            width: 90%;
        }
        &img-container{
            display: flex;
            justify-content: space-between;
            width: 80%;
        }
        &img{
            max-width: 250px;
        }
    }
    &header-{
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        min-height: 20vh;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(219, 126, 183, 0.349);
        &img{
            max-width: 150px;
        }
    }
    &slider-container{
        margin: auto;
        width: 96%;
    }
    &footer-{
        align-items: center;
        background-color: rgba(219, 126, 183, 0.349);
        display: flex;
        min-height: 20vh;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        &img{
            max-width: 150px;
        }
        &logo-container{
            align-items: center;
            display: flex;
            height: 70%;
            flex-direction: row;
            justify-content: space-between;
            width: 30%;
        }
        &socialmedia{
            display: flex;
            height: 60%;
            flex-direction: column;
            width: 30%;
        }
        &sm-item{
            text-decoration: none;
            cursor: pointer;
            color: black;
            justify-content: space-evenly;
            display: flex;
        }
    }
}

.countdown-img-left{
    transform: rotate(13deg);
}

.countdown-img-right{
    transform: rotate(-13deg);
}

.fa-instagram{
    color: #84439e;
}

.fa-linkedin-in{
    color:#0e76a8;
}

.fa-twitter{
    color: #00acee;
}
