@import "../../styles//variables.scss";


    .headerSchool{
        display: flex;
        justify-content: space-around;
        padding: 15px;
        @media (min-width: $breakpoint-tv) {
            background-color: rgba($secondary-color, $alpha: 0.2);
        }
            &__logoCampaña {
                height: 100px;
                margin-right: 20px;
                @media (max-width: $breakpoint-mobile) {
                    margin:0;
                }
            }
            &__logos {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__slogan{
                width: 40vw;
                padding-top: 25px;
                @media (max-width: $breakpoint-tablet) {
                    display: none;
                }
            }
            &__logoONG{
                width: 150px;
                @media (max-width: $breakpoint-mobile) {
                    display: none;
                }
            }
    }
