$primary-color: black;
$secondary-color: #666;
$accent-color: #dc817e;
$error-color: red;
$success-color: green;

$bg-primary-color: white;
$bg-secondary-color: #eeeeee;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 410px;
$breakpoint-laptop-l: 1024px;
$breakpoint-laptop-xl: 1280px;
$breakpoint-tv: 1920px;

