@media screen and (min-width: 767px) {
  .school__footer {
    gap: 50px;
    flex-direction: row;

    & .footer__logo {
      flex-direction: row;
      gap: 50px;
      & .logo__onglink {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .school__footer {
    justify-content: space-evenly;
    align-items: flex-end;
    padding-top: 40px;
    padding-bottom: 80px;
    & .footer__social {
      flex-direction: column;
      & .social__item {
        display: flex;
        align-items: flex-end;
        gap: 10px;
        flex-direction: row;
        & .item__name {
          display: block;
        }
      }
    }
    & .footer__logo {
      flex-direction: column;
      gap: 0;
      justify-content: center;
      & .logo__onglink {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .school__footer {
    align-items: flex-start;
    & .footer__social {
      justify-content: space-between;
    }

    & .footer__campaigns {
      display: block;
    }
  }
}
