@import '../../styles/variables.scss';

.header__toys{
    background-color: transparent;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header__toys-ong,
.header__toys-slogan {
    display: none;
}

@media screen and (min-width: $breakpoint-tablet) {
    .header__toys{
        justify-content: space-evenly;
    }
    .header__toys-ong{
        display: flex;
        
    }
}
@media screen and (min-width: $breakpoint-desktop) {
    .header__toys{
        justify-content: space-evenly;
    }
    .header__toys-slogan {
        display: flex;
        
    }
}
@media screen and (min-width: $breakpoint-tv) {
    .header__toys {
        background-color: aquamarine;
        
    }
}