.w-18r{
  width: 18rem;
}
.width-50{
  width: 50%;
}
.txt-center{
  text-align: center;
}
.my-1r{
  margin: 1rem 0;
}
<<<<<<< HEAD
.m-auto{
  margin: auto;
=======

.d-rtl{
  direction: rtl ;

>>>>>>> 871d9c0fa2da5cfa2f8a004ef74b3b501676be29
}
